#catalog-page {
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
}

#catalog-page>h1 {
    color: #f5f1ee;
    font-family: "cursive";
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

.allCars {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    margin: 25px;
    min-height: 200px;
}

.allCars-info {
    padding: 29px;
    position: relative;
    width: 100%;
}

.allCars img {
    padding: 1em;
    max-width: 20em;
}


.allCars-info>h2 {
    font-size: 20px;
    font-weight: 800;
    color: #f6a56f;
}

.details-button {
    background-color: #efa75f;
    color: #fff;
    position: absolute;
    text-align: left;
    padding: 10px;
    margin-left: 15px;
}