.details-comments {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.create-comment {
    margin-top: 45px;
    text-align: center;
    width: 30em;
    border-radius: 3em;
    padding: 40px;
    background: #eab07b;
}


.details-comments li {
    border-radius: 2em;
    background: #efd448;
    color: white;
    text-align: center;
    list-style-type: none;
}

.comment p {
    padding: 16px;
}
