input[type="text"] {
    padding-left: 20px;
    height: 55px;
    background: #ecf0f3;
    padding: 30px;
    margin-top: 10px;
    font-size: 25px;
    border-radius: 50px;
}

textarea {
    width: 100%;
    min-height: 5em;
    border-radius: 1em; 
    font-size: 25px;
    background-color: #e3edf4;
    margin-top: 10px;
}