.details-comments {
    display: table-cell;
}

.create-comment {
    margin-top: 45px;
    text-align: center;
    width: 495px;
    border-radius: 20%;
    padding: 40px;
    background: #eab07b;
}

.create-comment>label {
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.info-section>.details-comments li {
    width: 350px;
    display: inline-block;
    margin: 20px auto 20px auto;
    border-radius: 20%;
    margin-left: 50px;
    background: #efd448;
    color: white;
}

.comment p {
    padding: 16px;
}


