body {
    background-image: url("../images/mercedes-amg-4k-black-aesthetic-car-by-grass-2xqaomkxbdgamu34.jpg");
    background-attachment: fixed;
    background-size: cover;
  }
  
  .auth {
    width: 100px;
    margin: 8em auto;
  }
  
  header,
  footer {
    background-color: #9f5210;
    width: 100%; 
    color: rgb(255, 255, 255);
  }
  header {
    position: relative;
  }
  
  header nav {
    font-size: auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    position: absolute;
    right: 0;
    bottom: 8px;
  }
  
  header nav > * {
    float: left;
  }
  
  footer {
    padding: 0.5em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  nav a {
    margin: 0 0.5em;
  }
  
  #user,
  #guest {
    font-size: 25px;
    margin: 0;
  }
